
<h1>Popular Movies</h1>

<br/><br/>

<% for x in @popular["results"] %>
    
    <div class="panel" >
        <% @id = x["id"] %>
        <%= link_to x["title"], home_details_path(@id) %><br/>
        <%= x["release_date"] %><br/>
        <%= x["vote_average"] %>
    </div>

<% end %>
