
<h1>Popular Movies</h1>

<br/><br/>

<% for x in @popular["results"] %>



        <div class="panel">



            <%= x["title"] %><br/>
            <%= x["release_date"] %><br/>
            <%= x["vote_average"] %><br/>

          <br/>

        </div>


<% end %>
