<h1>On the Air</h1> 


<% @tv_showing %>

<% for x in @tv_showing["results"] %>
    
    <div class="panel" >
        <% @id = x["id"] %>
        <%= link_to x["name"], home_tv_details_path(@id) %><br/>
        <%= x["first_air_date"] %><br/>
        <%= x["vote_average"] %>
    </div>

<% end %>
