
<h1>Upcoming Movies</h1>

<br/><br/>

<% for x in @upcoming["results"] %>

    <% @id = x["id"] %>
    <%= link_to x["title"], home_details_path(@id) %><br/>
    <%= x["release_date"] %><br/>
    <%= x["vote_average"] %><br/><br/>
    
<% end %>
